<app-action-bar></app-action-bar>
<form [formGroup]="form" (ngSubmit)="submitForm()">
  <div class="grid gap-6 mb-6 md:grid-cols-2">
    <div>
      <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First name</label>
      <input 
        type="text" 
        id="first_name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="John"
        formControlName="firstName"
      >
      <div *ngIf="controlHasAnError('firstName')">
        <p class="text-red-600 mt-2">First name is required.</p>
      </div>
    </div>
    <div>
      <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last name</label>
      <input 
        type="text" 
        id="last_name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Doe"
        formControlName="lastName"
      >
      <div *ngIf="controlHasAnError('lastName')">
        <p class="text-red-600 mt-2">Last name is required.</p>
      </div>
    </div>
  </div>
  <div class="mb-6">
    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email address</label>
    <input 
      type="email" 
      id="email"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="john.doe@company.com"
      formControlName="email"
    >
    <div *ngIf="controlHasAnError('email')">
      <p class="text-red-600 mt-2">Please enter a valid email address.</p>
    </div>
  </div>
  <div class="mb-6">
    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
    <input 
      type="password" 
      id="password"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="•••••••••"
      formControlName="password"
      autocomplete="new-password"
    >
    <div *ngIf="controlHasAnError('password')">
      <p class="text-red-600 mt-2">Use 8 or more characters.</p>
    </div>
  </div>
  <div class="flex items-start mb-6">
    <div class="flex items-center h-5">
      <input 
        id="remember" 
        type="checkbox" 
        value=""
        class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800"
        formControlName="isAdmin"
      >
    </div>
    <label for="remember" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">User is an <span class="text-blue-600 dark:text-blue-500">admin</span>.</label>
  </div>
  <button 
    type="submit"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
    Update
  </button>
</form>