<h1 class="text-3xl font-bold">Users:</h1>
<hr class="my-3">
<app-action-bar></app-action-bar>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          Email
        </th>
        <th scope="col" class="px-6 py-3">
          First Name
        </th>
        <th scope="col" class="px-6 py-3">
          Last Name
        </th>
        <th scope="col" class="px-6 py-3">
          Password
        </th>
        <th scope="col" class="px-6 py-3">
          Admin
        </th>
        <th scope="col" class="px-6 py-3">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      <tr 
        *ngFor="let user of users"
        class="bg-white border-b dark:bg-gray-900 dark:border-gray-700"
      >
      <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
        {{ user.email }}
      </td>  
      <th scope="row" class="px-6 py-4">
          {{ user.firstName }}
        </th>
        <td class="px-6 py-4">
          {{ user.lastName }}
        </td>
        
        <td class="px-6 py-4">
          {{ user.password }}
        </td>
        <td class="px-6 py-4">
          {{ user.isAdmin ? "YES" : "NO" }}
        </td>
        <td class="px-6 py-4">
          <button (click)="goToEdit(user.email)" class="font-medium text-blue-600 dark:text-blue-500 mr-2">Edit</button>
          <button (click)="remove(user.email)" class="font-medium text-red-600 dark:text-red-500">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>